* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Stick No Bills", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(180, 131, 131);
}
.container {
  width: 100vw;
  height: 400px;
  background-color: whitesmoke;
  max-width: 600px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
}
.cell {
  width: 100%;
  height: 100%;
  background-color: rgb(180, 131, 131);
  text-align: center;
  color: rgb(95, 68, 72);
  font-family: "Stick No Bills", sans-serif;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameTitle {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: whitesmoke;
}
#myText {
  background-color: rgb(207, 167, 173);
  margin-bottom: 10px;
}
#myButton {
  margin-bottom: 10px;
  font-family: "Stick No Bills", sans-serif;
}
.gameStatus {
  color: whitesmoke;
  font-size: 30px;
}
.restart {
  cursor: pointer;
  padding: 20px 50px;
  display: inline-block;
  background-color: lightpink;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Stick No Bills", sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
}

.restart {
  cursor: pointer;
  display: inline-block;
  background-color: lightpink;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Stick No Bills", sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 8px;
}

.hidden {
  display: none;
}

#players-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

.player-input {
  display: flex;
  align-items: flex-start;
}

.player-input label {
  margin-right: 15px;
}

#start-game-button {
  width: 200px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.players {
  display: none;
}

.game-wrapper {
  position: absolute;
  top: 300px;
}

.active-players {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: whitesmoke;
}
